name: Unit Test
# This workflow will build a golang project and run unit tests

on:
  workflow_dispatch:
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.x

      - name: Build
        run: make build

      - name: Unit Test
        run: make test
